.table {
  display: flex;
  flex-direction: column;
  flex: 1;

  .tableHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: rgb(131, 131, 131);
    border-bottom: 1px solid #585858;
    font-size: 14px;

    .options {
      height: 40px;
      width: 180px;
      display: flex;
      align-items: center;
      color: "#A1A1AA";

      &:hover {
        color: rgb(235, 235, 235);
        cursor: default;
      }

      a,
      label {
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 8px;
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;

  .header {
    border-bottom: 1px solid #585858;
  }

  .row {
    border-bottom: 1px solid #949494;
  }

  .activeRow {
    border-bottom: 1px solid #949494;
    background-color: #c4c4c4;
  }

  .header,
  .row,
  .activeRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;

    .checkBox,
    .surname,
    .quantity,
    .address {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .checkBox {
      width: 5%;
      background-color: rgb(243, 243, 243);
    }
    .surname {
      width: 25%;
    }

    .quantity {
      width: 20%;
      background-color: rgb(243, 243, 243);
    }

    .address {
      width: 40%;
    }

    .actions {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 10%;
      background-color: rgb(243, 243, 243);
      color: #949494;

      &:hover {
        color: rgb(38, 130, 236);
      }
    }
  }

  .items {
    display: flex;
    flex-direction: column;
  }
}
