.header {
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: flex-start;
  align-items: center;
  background-color: #343450;
  border-bottom: 1px solid #a9a9aa;
  padding-right: 8px;
  color: #a9a9aa;
  font-size: 16px;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
  }

  .title {
    margin: 8px;
    justify-content: center;
    align-items: center;
  }
}
