.header {
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #82828a;
  padding-right: 8px;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
  }

  .title {
    margin: 8px;
    justify-content: center;
    align-items: center;
  }
}
