html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 900px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.footer {
  margin-top: auto;
}
