:root {
  font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-size: small;
  background-color: #ffffff;
  color: rgb(70, 70, 70);
}

* {
  margin: 0;
  padding: 0;
}
